:root {
    --dk-1: #fdfae0; 
    --dk-2: #0d1012;
    --dk-3: #404845;
    --dk-4: #6a706b;
    --dk-5: #e41a1c;
    --dk-6: #88131e;
}

* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}

body {
    color: var(--dk-3);
    font-size: 13px;
    line-height: 1.5;
    -webkit-text-size-adjust: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    background-color: var(--dk-1);
}

p {
    margin: 10px 0;
}

i {
    color: var(--dk-4);
    margin: 0 5px 0 0;
}

.header-img {
    width: 15%;
    height: auto;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
}

.clearboth {
    clear: both;
}

a {
    color: var(--dk-5);
    text-decoration: none;
    border: 0;
    -webkit-transition: color 0.1s ease-in;
    -moz-transition: color 0.1s ease-in;
    -o-transition: color 0.1s ease-in;
    transition: color 0.1s ease-in;
}

a:hover {
    text-decoration: none;
    color: var(--dk-6);
}

h1 {
    font-weight: 300;
    font-size: 36px;
    padding: 0 10% 10px 10%;
    line-height: 1.1;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.1;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 15px 70px 15px;
}

/*RESPONSIVE-ANPASSUNG*/

@media only screen and (max-width:600px) {

    h1 {
        font-size: 24px;
    }
}